[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/xsimd"]
	path = libs/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
